@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #3b82f6;
  --color-dark-bg: #0f172a;
}

body {
  background-color: var(--color-dark-bg);
  color: #e2e8f0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
